# To prevent Jekyll from reading bundles on Travis CI
exclude: [vendor]
highlighter: rouge
markdown: kramdown
kramdown:
  input: GFM
  auto_ids: true
  syntax_highlighter: rouge
repository: https://github.com/connectbot/connectbot.github.io.git
permalink: pretty
plugins:
  - jekyll-sitemap
