$alto: #ddd;
$athens-gray: #fafbfc;
$black: #000;
$bondi-blue: #0086b3;
$boulder: #777;
$bright-red: #a00;
$cornflower-lilac: #faa;
$crimson: #d14;
$dusty-gray: #999;
$east-bay: #458;
$emperor: #555;
$error-background: #e3d2d2;
$error-foreground: #a61717;
$flirt: #990073;
$fresh-eggplant: #800080;
$fun-green: #009926;
$gray: #888;
$lemon-grass: #998;
$mercury: #e7e7e7;
$mine-shaft: #333;
$mint-green: #afa;
$navy: #000080;
$persian-green: #099;
$pippin: #fdd;
$red-berry: #900;
$ship-cove: #8085c1;
$silver-chalice: #aaa;
$silver: #bbb;
$snowy-mint: #dfd;
$teal: #008080;
$titan-white: #eef;
$tundora: #444;
$white: #fff;
