@import 'nextra-theme-docs/style.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

@font-face {
  font-family: 'Essential PragmataPro';
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/logo-font.woff2') format('woff2'),
    url('/fonts/logo-font.woff') format('woff');
}

body {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 0.85em;
}

article p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin: 0.75rem 0;
}

.footer-link {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.footer-link:hover {
  opacity: 1;
}

@theme {
}
