@import 'nextra-theme-docs/style.css';

body {
  font-family: var(--font-raleway), Arial, sans-serif;
  font-size: 1rem;
}

article p {
  font-family: var(--font-source-sans), Arial, sans-serif;
  margin: 0.75rem 0;
}

.footer-link {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.footer-link:hover {
  opacity: 1;
}

@theme {
}
