@import 'colors';

// Common

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $athens-gray;
  color: $mine-shaft;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: .85em;
  font-weight: 400;
  overflow: hidden;
}

a {
  border: 0;
  color: $ship-cove;
  text-decoration: none;

  img {
    outline: none;
  }

  :hover {
    border: 0;
    color: $emperor;
  }
}

.separator {
  color: $emperor;
}

// Home
#logo {
  max-width: 128px;
}

.posts {
  border-top: 1px solid $mercury;
  margin-top: 1em;
  padding-bottom: 1.25em;
  padding-top: 1.5em;

  a {
    color: $tundora;

    :hover {
      color: $boulder;
    }
  }
}

.posts-list {
  list-style-type: none;

  li {
    line-height: 1.75em;
    text-align: center;
  }
}

// Site

.site {
  height: 100%;
  line-height: 1.25em;
  width: 100%;
}

.title {
  display: inline-block;
  text-align: center;
}

.logo-font {
  font-family: 'Essential PragmataPro';
  font-style: normal;
  font-weight: normal;
  src: url('subset-EssentialPragmataPro.woff2') format('woff2'), url('subset-EssentialPragmataPro.woff') format('woff');
}

.tagline {
  color: $boulder;
  display: block;
  margin-top: .5em;
  text-align: center;
  width: 100%;
}

.footer {
  border-top: 1px solid $mercury;
  float: center;
  font-size: .95em;
  overflow: hidden;
  padding-bottom: 1.5em;
  padding-top: 1.25em;
  text-align: center;
}

// Posts

#date {
  margin-bottom: 2em;
  padding-top: .5em;
}

#cover-photo-container,
#info-container {
  display: block;
}

#info-container {
  margin-top: 3em;
}

#title {
  color: $tundora;
  font-size: 3.5em;
  margin-bottom: .35em;
  text-transform: uppercase;
}

.post {
  clear: both;
  line-height: 24px;
  margin-top: 3em;
  max-width: 725px;

  h2 {
    margin-bottom: 1.25em;
    margin-left: -.5em;
    margin-top: 1.25em;
  }

  a {
    border-bottom: 1px dashed $ship-cove;

    :hover {
      border: 0;
    }
  }

  #about {
    a {
      border-bottom: 1px dashed $ship-cove;
    }
  }

  // standard
  pre {
    background-color: $titan-white;
    border: 1px solid $alto;
    padding: 0 .4em;

    code {
      border: 0;
    }

    .terminal {
      background-color: $mine-shaft;
      border: 1px solid $black;
      color: $white;

      code {
        background-color: $mine-shaft;
      }
    }
  }

  p {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.1em;
    margin-bottom: 1.45em;
    text-align: justify;
  }

  ul,
  ol {
    margin-bottom: 1.25em;
    margin-left: 2.35em;
  }

  code {
    background-color: $titan-white;
    border: 1px solid $alto;
    padding: 0 .2em;
  }

}

// Sidebar and Content

.sidebar,
.content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: top;
}

.sidebar {
  border-right: 1px solid $mercury;
  float: left;
  min-width: 12.5em;
  padding-left: 11em;
  padding-right: 2.125em;
  transition: padding-right 1s ease;
  width: 14%;
}

.content {
  padding-left: 2.125em;
}

.header {
  font-size: 1.1em;
  padding-top: 2.5em;
  text-align: center;
}

.post-link {
  margin-bottom: .75em;
}

.post-title {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.post-date {
  color: $gray;
  display: block;
  font-family: Monaco, 'Courier New', monospace;
  font-size: .65em;
  font-weight: 600;
  text-transform: lowercase;
}

#sidebar-button {
  border-bottom: 1px solid $mercury;
  cursor: pointer;
  display: none;
  height: intrinsic;
  margin-bottom: 10px;
  padding: 15px 5px 0 0;

  :active,
  :hover {
    opacity: .7;
  }
}

// Colophon

.colophon {
  border-top: 1px dotted $mercury;
  margin-bottom: 1.45em;
  margin-top: 1.5em;

  p {
    color: $boulder;
    font-size: .95em;
    margin-top: 1.25em;
  }
}

